<footer>
  <section class="section-site-map">
    <div class="item-footer-img-container">
      <img src="./assets/png/footer-logo.png" />
      <div class="foorter-icon-container">
        <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#"><i class="fab fa-instagram fa-lg"></i></i></a>
        <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
        <a href="#"><i class="fab fa-google-plus-g fa-lg"></i></a>
        <a href="#"><i class="fab fa-whatsapp fa-lg"></i></a>
        <a href="#"><i class="fab fa-youtube fa-lg"></i></a>
      </div>
    </div>
    <div class="item-footer-container">
      <h4>Home</h4>
      <p>Vantagens</p>
      <p>Conheça o método</p>
      <p>Teste gratuito</p>
    </div>
    <div class="item-footer-container">
      <h4>Nossa equipe</h4>
      <p>Conheça nossos instrutores</p>
    </div>
    <div class="item-footer-container">
      <h4>Fale conosco</h4>
      <p>Fale com um consultor</p>
      <p>Ajuda</p>
    </div>
    <div class="item-footer-container">
      <h4>Área do aluno</h4>
      <p>Meu Progresso</p>
      <p>Plano de Estudo</p>
      <p>Plataforma</p>
      <p>Indique um amigo</p>
      <p>Preferências</p>
      <p>Sair</p>
    </div>
    <div class="item-footer-container">
      <h4>Fale conosco</h4>
      <p>Fale com um consultor</p>
      <p>Ajuda</p>

      <button class="footer-btn orange-phone-btn">
        <i class="fas fa-phone"></i>
        <span>0800 006 01</span>
      </button>

      <button class="footer-btn green-suport-btn">
        <img src="./assets/png/footer-fly-icon.png" />
        <span>Suporte Online</span>
      </button>

    </div>
  </section>
  <div class="copyright">
    <p>Projeto desenvolvido por BM2 Comunicação 2019 &reg; Todos os direitos reservados.</p>
  </div>
</footer>