<div id="top-nav" class="nav">
  <label for="toggle">&#9776;</label>
  <input type="checkbox" id="toggle" />
  <div class="menu">
    <a href="#01">
      <span class="yellow">Notícia:</span> Aberto edital da PRF. Assine hoje e acompanhe o planejamento diário
      direcionado ao edital.
    </a>
    <a href="#02">
      <span class="orange">Promoção:</span> Indique um amigo e ganhe 30% de desconto na assinatura.
    </a>
    <a href="#03">
      <span class="yellow">Atenção:</span> Saiba os editais esperados para o 2º semestre.
    </a>
  </div>
</div>