<!DOCTYPE html>
<html>
<%- include('inc/head') -%>

<body>
  <%- include('inc/top-nav') -%>
  <%- include('inc/nav') -%>

  <div class="blog-container">

    <div class="card-blog-container">

      <div class="row">

        <div class="card-item">
          <img src="./assets/png/card-img.png" />
          <div class="card-content">
            <h5>TEMA</h5>
            <h4>Inserir aqui o título do artigo em, no máximo, 65 caracteres</h4>
            <p>Inserir os primeiros 150 caracteres do artigo aqui. A FLY possui um time de grandes profissionais
              empenhados em fazer o aluno ter êxito em seus planos.</p>
          </div>
        </div>

        <div class="card-item">
          <img src="./assets/png/card-img.png" />
          <div class="card-content">
            <h5>TEMA</h5>
            <h4>Inserir aqui o título do artigo em, no máximo, 65 caracteres</h4>
            <p>Inserir os primeiros 150 caracteres do artigo aqui. A FLY possui um time de grandes profissionais
              empenhados em fazer o aluno ter êxito em seus planos.</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="card-item">
          <img src="./assets/png/card-img.png" />
          <div class="card-content">
            <h5>TEMA</h5>
            <h4>Inserir aqui o título do artigo em, no máximo, 65 caracteres</h4>
            <p>Inserir os primeiros 150 caracteres do artigo aqui. A FLY possui um time de grandes profissionais
              empenhados em fazer o aluno ter êxito em seus planos.</p>
          </div>
        </div>

        <div class="card-item">
          <img src="./assets/png/card-img.png" />
          <div class="card-content">
            <h5>TEMA</h5>
            <h4>Inserir aqui o título do artigo em, no máximo, 65 caracteres</h4>
            <p>Inserir os primeiros 150 caracteres do artigo aqui. A FLY possui um time de grandes profissionais
              empenhados em fazer o aluno ter êxito em seus planos.</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="card-item">
          <img src="./assets/png/card-img.png" />
          <div class="card-content">
            <h5>TEMA</h5>
            <h4>Inserir aqui o título do artigo em, no máximo, 65 caracteres</h4>
            <p>Inserir os primeiros 150 caracteres do artigo aqui. A FLY possui um time de grandes profissionais
              empenhados em fazer o aluno ter êxito em seus planos.</p>
          </div>
        </div>

        <div class="card-item">
          <img src="./assets/png/card-img.png" />
          <div class="card-content">
            <h5>TEMA</h5>
            <h4>Inserir aqui o título do artigo em, no máximo, 65 caracteres</h4>
            <p>Inserir os primeiros 150 caracteres do artigo aqui. A FLY possui um time de grandes profissionais
              empenhados em fazer o aluno ter êxito em seus planos.</p>
          </div>
        </div>

      </div>

      <div class="pagination-container">
        <div class="pagination-item">
          <i class="fas fa-angle-double-left"></i>
        </div>
        <div class="pagination-item">
          <i class="fas fa-angle-left"></i>
        </div>
        <div class="pagination-item pagination-active">
          <span>1</span>
        </div>
        <div class="pagination-item">
          <span>2</span>
        </div>
        <div class="pagination-item">
          <span>3</span>
        </div>
        <div class="pagination-item">
          <i class="fas fa-angle-right"></i>
        </div>
        <div class="pagination-item">
          <i class="fas fa-angle-double-right"></i>
        </div>
      </div>

    </div>

    <div class="contact-container">

      <div class="form-title">
        <h3>Fale com nossos consultores</h3>
      </div>

      <label>Nome:</label>
      <input name="name" type="text" placeholder="" value="" />

      <label>E-mail:</label>
      <input name="email" type="email" placeholder="" value="" />

      <label>Telefone:</label>
      <input name="phone" type="text" placeholder="" value="" />

      <label>Mensagem:</label>
      <textarea name="message" type="text" placeholder="" value=""></textarea>

      <button class="btn-send-form">Enviar</button>

    </div>

  </div>

  <%- include('inc/footer') -%>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="./js/menu.js" type="text/javascript"></script>
  <script src="./js/scroll-animate.js" type="text/javascript"></script>
  <script src='https://kenwheeler.github.io/slick/slick/slick.js'></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  
</body>

</html>