<!DOCTYPE html>
<html>
<%- include('inc/head') -%>

<body>
  <%- include('inc/top-nav') -%>
  <%- include('inc/nav') -%>

  <div>

    <div class="whoweare-banner-container">

      <div class="whoweare-text-container">
        <h1>O que é a FLY?</h1>
        <div class="whoweare-nav-container">
          <p>Equipe</p>
          <p>Plataforma</p>
          <p>Método</p>
          <p>Conteúdo</p>
          <p>Motivação</p>
          <p>Público</p>
        </div>
      </div>

    </div>

    <div class="whoweare-content">

      <div class="whoweare-text-content">

        <div class="row">
          <p> A FLY é uma plataforma de ensino que possui um método de estudo 100% online, com ferramentas poderosas que
            capacitam seus alunos a atingirem seus objetivos. Possui conteúdo para concursos da área jurídica e exame da
            OAB, traçando um planejamento personalizado de acordo com a sua rotina. Com uma plataforma inteligente e
            aplicativo inovador, a FLY guia o aluno do começo ao fim em sua jornada de estudos, isso porque entende que
            estudar requer disciplina e organização!</p>
        </div>

        <div class="row">
          <p>Para auxiliar o aluno, a FLY elabora um planejamento personalizado, que de forma sistematizada otimiza o
            tempo e potencializa a capacidade de compreensão, aprendizado e absorção do conhecimento. O planejamento da
            FLY leva em consideração o sonho e a real disponibilidade do aluno para atingir seu objetivo.</p>
        </div>

        <div class="row">
          <p>Além da organização, a metodologia da FLY se diferencia das demais pela utilização de todas as áreas
            sensitivas: visão, audição e sinestesia. A FLY possui um aplicativo completo, pioneiro, revolucionário e
            inovador na área educacional. Planejamos a jornada de estudo do aluno com amplo suporte audiovisual:</p>
        </div>

        <div class="row">
          <div class="whoweare-icon-container">
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/video.png" />
              <p>Videoaulas</p>
            </div>
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/mental-maps.png" />
              <p>Mapas Mentais</p>
            </div>
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/ebook.png" />
              <p>E-books</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="whoweare-icon-container">
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/excercices.png" />
              <p>Exercícios Interativos</p>
            </div>
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/simulated.png" />
              <p>Simulados</p>
            </div>
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/revision.png" />
              <p>Técnicas de Revisão</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="whoweare-icon-container">
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/legislation.png" />
              <p>Legislação em Vídeos</p>
            </div>
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/storage-technique.png" />
              <p>Técnicas de Memorização</p>
            </div>
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/progress.png" />
              <p>Visualização do Progresso</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="whoweare-icon-container">
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/sketched-edicts.png" />
              <p>Editais Esquematizados</p>
            </div>
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/informative.png" />
              <p>Informativos</p>
            </div>
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/schedule.png" />
              <p>Agenda dinâmica</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="whoweare-icon-container">
            <div class="whoweare-icon-item">
              <img src="assets/png/whoweareicons/emotion-management.png" />
              <p>Gestão da emoção </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="section-text-description">
            <h2>Nossa equipe</h2>
            <p>A FLY possui um time de grandes profissionais empenhados em fazer o aluno ter êxito em seus planos. Temos
              em nossa plataforma equipe de ensino jurídico, escritores, facilitadores, publicitários, jornalistas,
              coaches e especialistas. </p>
            <p>
              Todo o conteúdo é produzido por profissionais da área, o que garante a qualidade e atualização constante.
              Além disso, a linguagem é adaptada para o aluno, para que não seja uma experiência cansativa. Pelo
              contrário, nosso desafio é despertar no aluno o amor pelo aprendizado e pelo conhecimento, levando-o até o
              fim do edital e de todo conteúdo programático.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="section-text-description">
            <h2>Plataforma completa</h2>
            <p>
              A plataforma toda foi feita para colaborar com a melhoria da performance do aluno em vários aspectos, como
              planejamento, organização, concentração, motivação e gestão das emoções.
            </p>
            <p>
              Na Fly você não compra um pacote ou um curso. Ao invés disso, você tem acesso a todos os planejamentos de
              todos os cursos de mais de 40 carreiras jurídicas, incluindo exame da OAB, com apenas uma assinatura. A
              FLY também é um canal informativo sobre editais, gabaritos e tudo mais que se refere a concursos públicos
              e exame da OAB no Brasil.
            </p>
            <button class="btn">Baixe nosso aplicativo</button>
          </div>
        </div>

        <div class="row">
          <div class="section-text-description">
            <h2>Método eficaz com resultados comprovados</h2>
            <p>
              A FLY utiliza o método CEPCON, que possui mais de 25 mil horas de atendimento online, direto e
              personalizado e há 8 anos auxilia pessoas que sonham passar em concurso público ou em exames como da OAB
              (Ordem dos Advogados do Brasil).
            </p>
            <p>
              Dayana Guimarães criou o método Cepcon por meio de sua experiência em estudos para concursos. Observou que
              a construção de uma rotina, planejamento, organização, fechamento do edital e outros quesitos foram
              fundamentais para sua aprovação no concurso para Juiz de Direito aos 23 anos, na sua primeira tentativa.
            </p>
            <p>
              Além do conteúdo do edital, o método conta com ferramentas de Coach aplicadas e testadas por Master
              Coaching certificados. E o que não faltam são exemplos de pessoas que utilizaram o método Cepcon para
              passar nos mais diversos concursos:
            </p>
          </div>
        </div>

        <div class="row">
          <div class="video-slidershow-container">
            <div class="video-slidershow-main">
              <img src="./assets/png/history-video.png" />
            </div>
            <div class="video-slidershow-carousel">
              <div>
                <div class="video-slidershow-carousel-container">
                  <div class="video-slidershow-carousel-item">
                    <img src="./assets/png/history-video.png" />
                  </div>
                  <div class="video-slidershow-carousel-item">
                    <img src="./assets/png/history-video.png" />
                  </div>
                  <div class="video-slidershow-carousel-item">
                    <img src="./assets/png/history-video.png" />
                  </div>
                  <div class="video-slidershow-carousel-item">
                    <img src="./assets/png/history-video.png" />
                  </div>
                  <div class="video-slidershow-carousel-arrow">
                    <i class="fas fa-angle-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="section-text-description">
            <h2>Conteúdo dinâmico e interativo</h2>
            <p>
              A FLY tem todo o conteúdo dos editais de concursos jurídicos e OAB em sua plataforma. O aluno terá uma
              experiência única: ele assistirá os vídeos e ao mesmo tempo poderá acompanhar o conteúdo por meio da
              leitura. Poderá pausar e escrever lembretes. A neurociência mostra que, quanto mais sentidos envolvidos,
              maior é a aprendizagem e a fixação. No caso da FLY, teremos todos os sentidos: auditivo, visual e
              sinestésico juntos.
              Todo o conteúdo é produzido por profissionais da área, o que garante a qualidade e atualização constante.
              Além disso, a linguagem é adaptada para o aluno, para que não seja uma experiência cansativa.
            </p>
          </div>
        </div>

      </div>

      <div class="contact-container">

        <div class="form-title">
          <h3>Fale com nossos consultores</h3>
        </div>

        <label>Nome:</label>
        <input name="name" type="text" placeholder="" value="" />

        <label>E-mail:</label>
        <input name="email" type="email" placeholder="" value="" />

        <label>Telefone:</label>
        <input name="phone" type="text" placeholder="" value="" />

        <label>Mensagem:</label>
        <textarea name="message" type="text" placeholder="" value=""></textarea>

        <button class="btn-send-form">Enviar</button>

      </div>

    </div>

    <div class="whoweare-content section-history-bg">

      <div class="challenge">

        <h2>A FLY motiva o aluno</h2>

        <div class="challenge-container">

          <div class="challenge-item">
            <img src="./assets/png/challenge.png" />
          </div>

          <div class="challenge-item">
            <div class="challenge-subitem">
              <h4>1</h4>
              <p>Acreditar em si mesmo;</p>
            </div>
            <div class="challenge-subitem">
              <h4>2</h4>
              <p>Otimizar seu tempo, por meio da organização da sua rotina e planejamento
                de seus estudos até o fechamento do edital e conteúdo programático;</p>
            </div>
            <div class="challenge-subitem">
              <h4>3</h4>
              <p>Vencer todos os obstáculos que aparecem no meio do caminho;</p>
            </div>
            <div class="challenge-subitem">
              <h4>4</h4>
              <p>Gerir suas emoções e se tornar o comandante da própria vida, eliminando
                a autossabotagem; </p>
            </div>
            <div class="challenge-subitem">
              <h4>5</h4>
              <p>Adquirir constância por meio do desafio 21 dias;</p>
            </div>
            <div class="challenge-subitem">
              <h4>6</h4>
              <p>Entender, aprender e reter as informações.</p>
            </div>
          </div>

        </div>

        <div class="challenge-text-footer">
          <p>Por meio do método CEPCON, a FLY quer promover transformação de vida, te auxiliando a conquistar
            estabilidade, independência financeira e a tão sonhada liberdade. </p>
        </div>

      </div>

    </div>

  </div>

  <%- include('inc/footer') -%>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="./js/menu.js" type="text/javascript"></script>
  <script src="./js/scroll-animate.js" type="text/javascript"></script>
  <script src='https://kenwheeler.github.io/slick/slick/slick.js'></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>

</html>